---
title: Support! Intl Foundation
permalink: /
---
{% include head.html %}
<body>
<div id="page-wrapper">

    {% assign current = page.url | downcase | split: '/' %}
    <div id="header">
        <!-- Logo -->
        <!-- Nav -->
        <a id="nav-logo" href="/"><img src="{{site.url}}/images/logo.png"/></a>
        <nav id="nav">
            <ul>
                <li {% if current.size == 0 %}class='current'{% endif %}><a href="{{site.url}}/">Home</a></li>
                <li {% if current[1] == 'about' %}class='current'{% endif %}>
                <a href="{{site.url}}/about">About Us</a>
                <ul class="dropdown-links">
                    <li><a href="{{site.url}}/about/">About Support!</a></li>
                    <li><a href="{{site.url}}/about/team">Management & Team</a></li>
                    <li><a href="{{site.url}}/about/board">Board & Advisors</a></li>
                    <li><a href="{{site.url}}/about/reports">Annual Reports</a></li>
                    <li><a href="{{site.url}}/about/news">In the News</a></li>
                </ul>
                </li>
                <li  {% if current[1] == 'work' %}class='current'{% endif %}>
                <a>Our Work</a>
                <ul class="dropdown-links">
                    <li>
                        <a>Programmes</a>
                        <ul class="dropdown-links">
                            <li><a href="{{site.url}}/site/takoi">Debating & Critical Thinking</a></li>
                            <li><a href="{{site.url}}/site/ats">Environmental Studies</a></li>
                            <li><a href="{{site.url}}/site/ais">Oral & Written English</a></li>
                            <li><a href="{{site.url}}/site/mkc">Social Relevance</a></li>
                            <li><a href="{{site.url}}/site/sis">English-in-Action</a></li>
                            <li><a href="{{site.url}}/site/cis">Sports & English Learning</a></li>
                        </ul>
                    </li>
                    <li><a href="{{site.url}}/work/events">Events</a></li>
                </ul>
                </li>
                <li {% if current[1] == 'gallery' %}class='current'{% endif %}><a href="{{site.url}}/gallery">Gallery</a></li>
                <li  {% if current[1] == 'partners' %}class='current'{% endif %}><a href="{{site.url}}/partners">Partners</a></li>
            </ul>
        </nav>
        <div class="title-container">
            <h1 id="logo">Support! International</h1>
            <div id="title-container-sub">
                <div class="line-separator"></div>
                <h1 id="line-title">Foundation</h1>
                <div class="line-separator"></div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
<script>
    var bgImageArray = ["img01.jpg", "img02.jpg", "img03.jpg", "img04.jpg"],
            base = "{{site.url}}/images/main_slider/",
            secs = 5;
    var k = 0

    function backgroundSequence() {
        document.documentElement.style.background = "url(" + base + bgImageArray[k] + ") no-repeat center center fixed";
        document.documentElement.style.backgroundSize = "cover"
        if ((k + 1) === bgImageArray.length) {
            k = 0
        } else {
            k++;
        }
        setTimeout(function() {
            backgroundSequence()
        }, (secs * 1000))
    }
    backgroundSequence();
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.dropotron/1.4.3/jquery.dropotron.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.0/skel.min.js"></script>
<script src="{{site.url}}/js/main.js"></script>
</body>
</html>
