---
title: Support International
permalink: /
---
{% include head.html %}
<body>
<div id="page-wrapper">

    {% assign current = page.url | downcase | split: '/' %}
    <div id="header">
        <!-- Logo -->
        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li {% if current.size == 0 %}class='current'{% endif %}><a href="{{site.url}}/">Home</a></li>
                <li {% if current[1] == 'about' %}class='current'{% endif %}>
                <a href="{{site.url}}/about">About Us</a>
                <ul class="dropdown-links">
                    <li><a href="{{site.url}}/about/">About Support!</a></li>
                    <li><a href="{{site.url}}/about/team">Management & Team</a></li>
                    <li><a href="{{site.url}}/about/board">Board & Advisors</a></li>
                    <li><a href="{{site.url}}/about/reports">Annual Reports</a></li>
                    <li><a href="{{site.url}}/about/news">In the News</a></li>
                </ul>
                </li>
                <li  {% if current[1] == 'work' %}class='current'{% endif %}>
                <a>Our Work</a>
                <ul class="dropdown-links">
                    <li>
                        <a>Programmes</a>
                        <ul class="dropdown-links">
                            <li><a href="{{site.url}}/site/takoi">Debating & Critical Thinking</a></li>
                            <li><a href="{{site.url}}/site/ats">Environmental Studies</a></li>
                            <li><a href="{{site.url}}/site/ais">Oral & Written English</a></li>
                            <li><a href="{{site.url}}/site/mkc">Social Relevance</a></li>
                            <li><a href="{{site.url}}/site/sis">English-in-Action</a></li>
                            <li><a href="{{site.url}}/site/cis">Sports & English Learning</a></li>
                        </ul>
                    </li>
                    <li><a href="{{site.url}}/work/events">Events</a></li>
                </ul>
                </li>
                <li {% if current[1] == 'gallery' %}class='current'{% endif %}><a href="{{site.url}}/gallery">Gallery</a></li>
                <li  {% if current[1] == 'partners' %}class='current'{% endif %}><a href="{{site.url}}/partners">Partners</a></li>
            </ul>
        </nav>
        <h1 id="logo">Support! International</h1>
    </div>
</div>

<div id="cvfooter">
    <div class="container">
        <div class="row">
            <section class="6u 12u(narrower) 12u$(mobilep)">
                <h3>Office Address</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6339.534848384045!2d114.15366157427952!3d22.280456398233127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34040064df2aeafd%3A0x54ef484310319f62!2s609%2C+New+World+Tower%2C+16-18+Queen&#39;s+Road+Central%2C+Central!5e0!3m2!1sen!2shk!4v1463710096597" width="100%" height="220" frameborder="0" style="border:0" allowfullscreen></iframe>
                <p>Suite 609 New World Tower 1, 16-18 Queen's Road Central, Hong Kong</p>
            </section>
            <section class="6u 12u(narrower)">
                <h3>Get In Touch</h3>
                <form action="https://formspree.io/{{site.email}}"
                      method="POST">
                    <div class="row 50%">
                        <div class="6u 12u(mobilep)">
                            <input type="text" name="name" id="name" placeholder="Name"/>
                        </div>
                        <div class="6u 12u(mobilep)">
                            <input type="email" name="email" id="email" placeholder="Email"/>
                        </div>
                    </div>
                    <div class="row 50%">
                        <div class="12u">
                            <textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row 50%">
                        <div class="12u">
                            <ul class="actions">
                                <li><input type="submit" class="button alt" value="Send Message"/></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>

    <!-- Icons -->
    <ul class="icons">
        <!-- <li><a href="https://twitter.com/{{site.twitter_username}}" class="icon fa-twitter"><span
                class="label">Twitter</span></a></li> -->
        <li><a href="https://www.facebook.com/{{site.facebook_username}}" class="icon fa-facebook"><span
                class="label">Facebook</span></a></li>
    </ul>

    <!-- Copyright -->
    <div class="copyright">
        <ul class="menu">
            <li>&copy; 2016 Support!. All rights reserved.</li>
        </ul>
    </div>

</div>
<script>
    var bgImageArray = ["img01.jpg", "img02.jpg", "img03.jpg", "img04.jpg"],
            base = "{{site.url}}/images/main_slider/",
            secs = 5;
    var k = 0

    function backgroundSequence() {
        document.documentElement.style.background = "url(" + base + bgImageArray[k] + ") no-repeat center center fixed";
        document.documentElement.style.backgroundSize = "cover"
        if ((k + 1) === bgImageArray.length) {
            k = 0
        } else {
            k++;
        }
        setTimeout(function() {
            backgroundSequence()
        }, (secs * 1000))
    }
    backgroundSequence();
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.dropotron/1.4.3/jquery.dropotron.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.0/skel.min.js"></script>
<script src="{{site.url}}/js/main.js"></script>
</body>
</html>
