<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="language" content="en-us" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Daniel Hsing">
    <meta name="keywords" content="support,youth leadership,hong kong,non-profit,{{page.keywords | escape}}" />
    <meta name="classification" content="youth leadership,hong kong,ngo,non-profit, english,learning"/>
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="publisher" content="Support! International Foundation" />

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description"
          content="{{ site.description }}">
    <link rel="icon"
          type="image/png"
          href="{{site.url}}/images/favicon.png">
    <link rel="stylesheet" href="{{site.url}}/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.4.2/themes/classic/galleria.classic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/components/transition.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/components/dimmer.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/components/modal.min.css" />
</head>
