
{% assign current = page.url | downcase | split: '/' %}
<div id="header">

    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li {% if current.size == 0 %}class='current'{% endif %}><a href="{{site.url}}/">Home</a></li>
            <li {% if current[1] == 'about' %}class='current'{% endif %}>
                <a href="{{site.url}}/about/">About Us</a>
                <ul class="dropdown-links">
                    <li><a href="{{site.url}}/about/">About Support!</a></li>
                    <li><a href="{{site.url}}/about/team">Management & Team</a></li>
                    <li><a href="{{site.url}}/about/reports">Annual Reports</a></li>
                    <li><a href="{{site.url}}/about/news">In the News</a></li>
                </ul>
            </li>
            <li  {% if current[1] == 'work' %}class='current'{% endif %}>
                <a href="{{site.url}}/work/branches">Our Work</a>
                <ul class="dropdown-links">
                    <li><a href="{{site.url}}/work/branches">Branches</a></li>
                    <li>
                        <a>Programmes</a>
                        <ul class="dropdown-links">
                            <li><a>Hong Kong</a></li>
                            <ul class="dropdown-links">
                                <li><a href="{{site.url}}/site/takoi">Debating & Critical Thinking</a></li>
                                <li><a href="{{site.url}}/site/ats">Environmental Studies</a></li>
                                <li><a href="{{site.url}}/site/ais">Oral & Written English</a></li>
                                <li><a href="{{site.url}}/site/mkc">Social Relevance</a></li>
                                <li><a href="{{site.url}}/site/sis">English-in-Action</a></li>
                                <li><a href="{{site.url}}/site/cis">Sports & English Learning</a></li>
                            </ul>
                        </ul>
                    </li>
                    <li><a href="{{site.url}}/work/events">Events</a></li>
                </ul>
            </li>
            <li {% if current[1] == 'gallery' %}class='current'{% endif %}><a href="{{site.url}}/gallery">Gallery</a></li>
            <li  {% if current[1] == 'partners' %}class='current'{% endif %}><a href="{{site.url}}/partners">Partners</a></li>
        </ul>
    </nav>

</div>