
{% assign current = page.url | downcase | split: '/' %}
<div id="header">

    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li {% if current.size == 0 %}class='current'{% endif %}><a href="{{site.url}}/">Home</a></li>
            <li {% if current[1] == 'about' %}class='current'{% endif %}>
                <a href="{{site.url}}/about/">About Us</a>
                <ul class="dropdown-links">
                    <li><a href="{{site.url}}/about/">About Support!</a></li>
                    <li><a href="{{site.url}}/about/team">Management & Team</a></li>
                    <li><a href="{{site.url}}/about/reports">Annual Reports</a></li>
                </ul>
            </li>
            <li  {% if current[1] == 'work' %}class='current'{% endif %}>
                <a href="{{site.url}}/work/branches">Our Work</a>
                <ul class="dropdown-links">
                    <li>
                        <a href="{{site.url}}/work/branches">Branches</a>
                        <!--<ul class="dropdown-links">-->
                            <!--<li><a href="#">Tak Oi</a></li>-->
                            <!--<li><a href="#">Aberdeen Technical School</a></li>-->
                            <!--<li><a href="#">Australian International School</a></li>-->
                            <!--<li><a href="#">Man Kiu College</a></li>-->
                        <!--</ul>-->
                    </li>
                    <li><a href="{{site.url}}/work/events">Events</a></li>
                </ul>
            </li>
            <li {% if current[1] == 'gallery' %}class='current'{% endif %}><a href="{{site.url}}/gallery">Gallery</a></li>
            <li  {% if current[1] == 'partners' %}class='current'{% endif %}><a href="{{site.url}}/partners">Partners</a></li>
        </ul>
    </nav>

</div>