<!DOCTYPE html>
<html>

{% include head.html %}

<body>
<div id="page-wrapper">
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
</div>
<script>
    var base = "{{site.url}}/images/main_slider/"
    var bgImageArray = ["img01.jpg", "img02.jpg", "img03.jpg", "img04.jpg"]
    document.documentElement.style.background = "url(" + base + bgImageArray[Math.floor(Math.random()*4)]+") no-repeat center center fixed";
    document.documentElement.style.backgroundSize = "cover";
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.dropotron/1.4.3/jquery.dropotron.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.0/skel.min.js"></script>
<script src="{{site.url}}/js/util.js"></script>
<script src="{{site.url}}/js/main.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-63865649-1', 'auto');
    ga('send', 'pageview');

</script>
{% contentblock script %}
</body>
</html>
