<!DOCTYPE html>
<html>

{% include head.html %}

<body>
<div id="page-wrapper">
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.dropotron/1.4.3/jquery.dropotron.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.0/skel.min.js"></script>
<script src="{{site.url}}/js/util.js"></script>
<script src="{{site.url}}/js/main.js"></script>
</body>

</html>
